

.h_banner{
	background-color: #FFF;
	background-image: url(../img/2014-xmas-web-OL_univ-950x250.png);
	background-size:contain;
	background-position: center center;
	background-repeat: no-repeat;
	padding-top: 25px;
	height: 250px;
}

.maininfo{

	width: 100%;
	background-color: #000;
}


.row{
	background-color: #000;}

.maps{
	width:80%;
	background-color: #333;
	padding: 15px;
	border-radius: 10px;
}

@media (max-width: 767px){
	
	.h_banner{
		height: 125px;
		background-image: url(../img/2014-xmas-web_Univ-640x150.jpg);

	}
	.maininfo{
	margin: 0px;
	}

	.maps{
		width:100%;

	}
	h3,h4,p{
		margin:15px;
	}

}

.hl{
	color: #ffd900;
}
body{
	color: #FFF;
}