body{

margin-top: 50px;
}

.h_banner{
	background-color: #b9468a;
	padding-top: 25px;
	height: 250px;
}

.linl_1{
	background-color: #b9468a;
}


.linl_2{
	background-color: #b9468a;
}


.linl_3{
	background-color: #b9468a;
}


.linl_4{
	background-color: #b9468a;
}