body{
margin-top: 50px;
}

.xmcontainer{
	padding-left: 50px;
	padding-right:50px;
}
.h_banner{
	background-color: #ffd900;
	background-image: url(../img/2014-xmas-web_banner-950x250.jpg);
	background-size:contain;
	background-position: center center;
	background-repeat: no-repeat;
	padding-top: 25px;
	height: 250px;
}

.link_1,.link_2,.link_3,.link_4{
	display: block;
	background-color: #fddfb1;
	margin-bottom: 20px;
}

.linkinfo{
	width:100%;
	min-height: 650px;
	padding-bottom: 50px;
}
.link_1 .linkinfo,.link_3 .linkinfo{
	background-color: #ffe89a;

}
.linkinfo h3,.linkinfo h4,.linkinfo p{
	margin: 10px;
}
.link_4 .linkinfo,.link_2 .linkinfo{
	background-color: #fff8e0;

}

.hl{
	color: #fcbd5b;
	font-weight: bolder;
}

.linkimg{
	width: 100%;
}
.intro{
	margin-top: 40px;
}

.movie{
	display: inline-block;
	background-color: #ffd900;
	margin-bottom: 20px;
	min-height: 320px;
	height: 320px;
	overflow: visible;
}
.tubeframe{
	height: 100%;
}